html{
    overflow-y: scroll; /* keeps the vertical scroll bar visible */
}

body{
    text-align: center;
    font-family: sans-serif;
}

ul{
    list-style-type: none;
    padding: 0;
}

h1{
    margin-top: 1%;
    margin-bottom: 1%;
}

h2{
    margin-top: 1%;
    margin-bottom: 1%;
}